@CHARSET "UTF-8";
.kuan input {
	width: 550px;
	height: 30px;
	font-size: 16px;
	border: 1px solid #ff0000;
	float: left
}

.an input {
	width: 150px;
	height: 30px;
	font-size: 16px;
	background: #1AFD9C;
	border: 1px solid #1AFD9C;
	float: left
}

.bu button {
	width: 150px;
	height: 60px;
	font-size: 24px;
	background: #FF0000;
	border: 1px solid #FF0000;
	float: right
}

#nav {
	line-height: 30px;
	background-color: #ffffff;
	height: 600px;
	width: 100px;
	float: left;
	padding: 5px;
}
#center {
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	height: 100px;
	width: 800px;
	vertical-align: middle;
	line-height: 20px;
}
.an button {
	width: 150px;
	height: 60px;
	font-size: 24px;
	background: #FF0000;
	border: 1px solid #FF0000;
	float: right
}
.ff input {
	width: 150px;
	height: 60px;
	font-size: 24px;
	background: #1AFD9C;
	border: 1px solid #1AFD9C;
	float: right
}
#header {
	background-color: D0D0D0;
	color: white;
	padding: 5px;
}

#footer {
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 0px;
}
.txt-center {
	text-align: right
}

#center {
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
	height: 100px;
	width: 800px;
	vertical-align: middle;
	line-height: 100px;
}

.a {
	color: red;
}

.a:visited {
	color: green;
}

.a:hover {
	color: yellow;
}

.a:active {
	color: lime;
}

